.exercism

# Rust
rust/**/.gitignore
rust/**/*.rs.bk
rust/**/target/
rust/**/Cargo.lock

# Dart
dart/**/.gitignore
dart/**/.dart_tool/
dart/**/.packages
dart/**/build/
dart/**/pubspec.lock
dart/**/*.js

# Lisp
